img {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.errores {
    background-color: sandybrown;
    color: red;    
    height: 30px;    
}
.hide {
    display: none;
}